.container-list {
    display: flex;
    align-items: center;
}

.container-list h2 {
    font-size: 1.8em;
}

table {
    width: 100%;
}

table th {
    font-size: 14px;
}

table td {
    font-size: 16px;
}

img {
    display: flex;
    height: 34px;
    align-items: center;
    margin: 4px;
}

a {
    margin: 4px;
}