

table {
    width: 100%;
}

table th {
    font-size: 14px;
}

table td {
    font-size: 16px;
}

img {
    display: flex;
    height: 34px;
    align-items: center;
    margin: 4px;
}

a {
    margin: 4px;
}

.form-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.search-options {
    font-size: 16px;
    margin: 0px 10px 0px 10px
}

#btn-new-course {
    font-size: 16px;
    background-color: #004fe2;
    color: white;
}

#btn-info {
    margin-right: 10px;
    font-size: 16px;
    background-color: #004fe2;
    color: white;
}

.form-search {
    font-size: 14px;
    margin-left: 20px;
}

#btn-search {
    margin-left: 20px;
    font-size: 16px;
    background-color: #004fe2;
    color: white;
}