.sidenav {
    background-color: #004fe2;
    width: 200px;
}

.sidenav a {
    color: #fff;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.sidenav .icons {
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: white;
}

.sidenav a:hover {
    background-color: #0074c2;
}